html {height: 100%;}
body {
    height: 100%;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
    font-size: 16px;
    line-height: 1.2;
    color: #24292e;
    background-color: #fff;
}
.row-flex {
    display: flex;
    flex-wrap: wrap;
}
.help-block {
    margin-top: 5px;
    margin-bottom: 5px;
    color: #737373;
    font-size: 13px;
}
.thumbnail {
    display: inline-block;
    padding: 5px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 0;
}
/*===================
    Custom styles
===================*/
h2, h2.h2 {
    font-size: 26px;
}
/*===================
    Wrapp
===================*/
#wrap {
    position: relative;
    min-height: 100%;
}
/*===================
    Content
===================*/
#content {padding: 100px 0;}
/*===================
    Footer
===================*/
#footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    padding: 20px 0;
    font-size: 13px;
}
/*===============*
    Breadcrumb
=================*/
.breadcrumb {
    padding: 8px 0;
    list-style: none;
    background-color: transparent;
    border-radius: 0;
    font-size: 12px;
}
.breadcrumb a{
    text-decoration: none;
    color: #006cca;
    border-bottom: 1px solid rgba(0, 108, 202,0.4);
    transition: .1s;
}
.breadcrumb a:hover,
.breadcrumb a:focus,
.breadcrumb a:active{
    text-decoration: none;
    color: #FF9900;
    border-bottom-color: rgba(255,165,0,0.5);
    transition: .1s;
}
.breadcrumb > li + li:before {
    padding: 0 5px;
    color: #CCC;
    content: "\2192";
}
